<a href="https://colab.research.google.com/github/chaitu713/python-foundations-for-data-analysis/blob/master/5.4%20sequence-datatypes-assignment-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Black Friday Data

We've compiled lists of the black friday `customer_ids` and `subtotals`, the amount before tax, below

In [1]:
customer_ids = [
    'C00004', 'C00007', 'C00015', 'C00016', 'C00020',
    'C00010', 'C00006', 'C00001', 'C00003', 'C00014',
    'C00001', 'C00001', 'C00005', 'C00008', 'C00013',
    'C00004', 'C00017', 'C00019', 'C00002', 'C00008',
    'C00021', 'C00022', 'C00006', 'C00018', 'C00018',
    'C00010', 'C00016'
]

subtotals = [
    15.98, 899.97, 799.97, 117.96, 5.99,
    599.99, 24.99, 1799.94, 99.99, 254.95,
    29.98, 99.99, 25.98, 649.98, 89.99,
    119.99, 599.99, 649.98, 24.99, 99.99,
    99.99, 5.99, 24.99, 999.96, 99.99,
    399.97, 89.99
]

print(customer_ids)

print(subtotals)

['C00004', 'C00007', 'C00015', 'C00016', 'C00020', 'C00010', 'C00006', 'C00001', 'C00003', 'C00014', 'C00001', 'C00001', 'C00005', 'C00008', 'C00013', 'C00004', 'C00017', 'C00019', 'C00002', 'C00008', 'C00021', 'C00022', 'C00006', 'C00018', 'C00018', 'C00010', 'C00016']
[15.98, 899.97, 799.97, 117.96, 5.99, 599.99, 24.99, 1799.94, 99.99, 254.95, 29.98, 99.99, 25.98, 649.98, 89.99, 119.99, 599.99, 649.98, 24.99, 99.99, 99.99, 5.99, 24.99, 999.96, 99.99, 399.97, 89.99]

### Calculate the Average Transaction

Calculate the average value of the transactions in the list  `subtotals`.

We don't have an average function, so we might need to use sum() and len() to do so.

In [2]:
average_transaction = sum(subtotals) / len(subtotals)

print(average_transaction)

323.3877777777776

### Customer Deep Dive

How many transactions did customer C00010 make?

In [3]:
customer_ids.count('C00010')

2

What is the index of customer C00010's first transaction?

In [6]:
customer_ids.index('C00010')

5

What is the revenue of C00010's first transaction? 

We will need to index `subtotals` using the index returned in the last question.

In [7]:
subtotals[customer_ids.index('C00010')]

599.99

### Print a sorted list of customer ID's.

We want to scan this to see if any of our loyal customers didn't make a purchase.

Don't change `customer_ids` when you sort!

In [8]:
customer_ids_sorted = sorted(customer_ids)

In [9]:
customer_ids_sorted

['C00001',
 'C00001',
 'C00001',
 'C00002',
 'C00003',
 'C00004',
 'C00004',
 'C00005',
 'C00006',
 'C00006',
 'C00007',
 'C00008',
 'C00008',
 'C00010',
 'C00010',
 'C00013',
 'C00014',
 'C00015',
 'C00016',
 'C00016',
 'C00017',
 'C00018',
 'C00018',
 'C00019',
 'C00020',
 'C00021',
 'C00022']